/* .ham{

        height: 100vh;
    width: 30%;
}
.hamm{
    height: 100vh;
    width: 70%;
    background-color: aquamarine;
    border: 1px salmon;
} */#oki {
    display: flex;
}

.ham {
    height: 100vh;
    width: 30%;
    background-color: pink;
    border: 1px solid black;
}

.hamm {
    height: 100vh;
    width: 70%;
    background-color: aquamarine;
    border: 1px solid salmon;
}