* {color: blue;
   background-color: antiquewhite;
}
 h3  {
color: rgb(49, 226, 43);
font-size: larger;
text-decoration: coral underline;
}
button{
    background-color: rgb(255, 196, 196);
    font-style: inherit;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}.aru1
{border: 2px;
    color: rgb(188, 255, 80);
background-color: rgb(224, 64, 160);

}
#vini1 {
color: darksalmon;
background-color: turquoise;
}
#div1 {
    background-color: rgb(0, 255, 119);
    color:rgb(206, 152, 116);
}
p{
    text-align: center;
    background-color: antiquewhite;
    font-size: medium;
    color: darkgoldenrod;
}
h2{
    text-align: center;
    color: brown;
}
h5{
    text-decoration: line-through;
}
.vini2 {
    text-decoration: solid;
}
#aru2{
    text-decoration: none;
}
.hyy{
    padding: 3px;
     margin: 10px;
      /* margin is a gap of two contents or two text  
      paddingis a  gap between border and text */
    border: 3px solid black;
    background-color: antiquewhite;
    border-radius: 15px;
}
.vini{
    height: 70px;
    width: 150px;
    border: 1px dashed blue;
    background-color: white;
text-decoration: none;
justify-content: center;
align-items: center;
padding-top: 40px;
padding-left: 40px;
border-bottom-left-radius: 13px;
border-top-right-radius: 13px;
border-left: 2px dashed black;

border-right:3px solid rgb(227, 15, 15);
}
.sirr{
    background: white;
    padding: 50px;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 2px solid black;
    margin-left: 250px;
}