div{
  width: 200px;
  height: 200px; 

  text-align: center;
  border:2px solid black;
}
h3{
    text-emphasis:center;
    text-decoration: overline;
    text-align: center;
}
.hyy{
  width: 800px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}