
*{
    margin: 0;
    padding: 0;

}
#navbar{
    width: 100%;
    height: 250px;
    /* border: 1px solid black; */
}
.div0{
    width: 100%;
    height: 3px;
    border: 1px solid black;
    background-color: black;
}
.div1{width: 100%;
    height: 40px;
      /* border: 1px solid black; */
      background-color: rgb(109, 109, 252);
      display: flex;
      justify-content: center;
align-items: center;

}

.div1 h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 700;
    color: white;
   
}
.div2{
width: 100%;
height: 200px;
  /* border: 1px solid black; */
  display: flex;
  gap: 30px;
}
.div2 div{
    width: 300px;
    height: 180px;
      /* border: 1px solid black; */
}
.box1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.box1 p{
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.box2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
     margin-top: 20px;
}
.box2 p{
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.box3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
     margin-top: 20px;
}
.box3 p{
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.box4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
     margin-top: 20px;
}
.box4 p{
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.box5{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
     margin-top: 20px;
}
.box5 p{
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.box6{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
     margin-top: 20px;
}
.box6 p{
    font-size: 18px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
#page1{
    width: 100%;
    height: 800px;
    border: 1px solid black;
    background-color:#BCC6CC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part2{
width: 80%;
height: 750px;
background-image: url(eCommerce-store-2-1280x720.jpg);
background-repeat: repeat;
background-size: cover;
background-position: center;



}
.part2 p{
    /* margin-top: 400px; */
    font-size: 32px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    margin-top: 370px;
    margin-left: 100px;

}
.part2 h6{
 font-size: 18px;
 letter-spacing: 2px;
 margin-left: 100px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.page2{
    width: 100%;
    height: 500px;
    background-color:#BCC6CC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.page2 h1{
    letter-spacing:2px;
    font-weight: 600px;
}
.page2 table{
    height: 330px;
    width: 1400px;
   
}
table th{
    background-color: rgb(109, 109, 252);
    font-size: 25px;
    font-weight: 700;
}
table tr{
    font-size: 20px;
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}