*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;}

/* navbar css starts here */
#navbar{
    border: 2px solid black;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background-color: white;
    }
#omg{
    width: 100%;
    height:117px ;
    position: fixed;
}
.div1{
height: 70px;
border: 1px solid black;
width: 10%;
/* background-color: #009879; */
font-size: 39px;
font-weight: 400;
display: flex;
justify-content: center;
align-items: center;
color: black;
}
.div2{
    height: 70px;
border: 1px solid black;
width: 70%;
display: flex;
justify-content:space-around ;


align-items: center;
 gap: 500px; 
}
.image
{
    font-weight:bolder;
}
.searchbox{
    border: 1px solid rgba(0, 0, 0, 0.399);
    width:22%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.searchbox input{
     border: none; 
    outline: none; 
    font-size: 16px;

}


.div3{
    height: 70px;
border: 1px solid black;
width:20%;
background-color: #0c2847;
font-family: Arial, Helvetica, sans-serif;
color: white;
font-size: 40px;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
}

.nav2{
    width: 100%;
    height: 47px;
    border: 1px solid black;
    background-color: #009879;
   
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   /* position: fixed; */
    
   
}
.nav2 a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.nav2 a:hover{
    color: red;
    border-radius: 5px;
}
/* 
navbar css ends here */
/* 
second page background image page starts here */
 #midpage{
   background-color: #0c2847;
   padding-top: 100px;
    width: 100%;
    height: 1000px;
 border: 1px solid black;
    background: url(./treees.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: first baseline;
    flex-direction: column;
    align-items: center;
    gap: 35px;
   
}
.headd{
color: white;
font-size: 55px;
font-family: 'Times New Roman', Times, serif;
padding-top: 120px; 

}
.paraa{
     padding-bottom: 0; 
     font-size: 30px;
    font-weight: 700;
    font-style: italic;
    color: white;
    text-align: left;
    text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.89);
}
.butt{
    width: 220px;
    height: 55px;
  border: none;
    background-color: white;
    font-size: 25px;
    font-family: sans-serif;
    color: black;
    font-weight: 700
}

/* page 2 ends here */

/* third page starting */
#page2{
    width: 100%;
    height: 900px;
    border: 1px solid black;
    background-color: rgb(244, 244, 244);
    display: flex;
    
    flex-direction: column;
    align-items: center;
    gap: 100px;
    
} 

#section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lineup{
    margin-top: 50px;
    width: 350px;
    height: 120px;
    border: 2px solid black;
    color: black;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight:bolder;
 font-family: "Fira Sans", sans-serif;
 letter-spacing: 3px;

}
.topic2{
    
    font-size: 37px;
    margin-left: 190px;
    margin-right: 200px;
    font-family: "Fira Sans", sans-serif;
 letter-spacing: 3px;
 /* font-weight: 200; */

}
.topic3{
    width: 350px;
    height: 80px;
    background-color: #272b2d;
    color: white;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: "Fira Sans", sans-serif;
    border-radius: 2px;
}

/* page 3rd start here */
#page3{
    width: 100%;
    border: 1px solid black;
    height: 60vh;
     display: flex;
     /* justify-content: space-between; */
     gap: 0px;
     flex-direction: column;
    


}
.pagedown{
    margin-top: 80px;
    width: 350px;
    height: 130px;
    border: 2px solid black;
    color: black;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 70px;
    font-size: 40px;
    font-weight:bolder;
 font-family: "Fira Sans", sans-serif;
 letter-spacing: 3px;

 margin-left: 800px;

}
.scrollbar{
    width: 60%;
    height: 600px;
 display: grid;
  grid-template-columns: repeat(12,445px);
  overflow-x: scroll; 
    margin-left: 560px;
    border: 1 px solid black;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px 50px; /* top-bottom, left-right */
    margin: auto;
}
 .scrollbar div{
    width: 370px;
    
} 

.scrollbar div p{
    font-size: 25px;
    letter-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.scrollbar div h2{
    font-size: 25px;
    letter-spacing: 1px;
    font-family:sans-serif;
}
.item1{
    display: flex;
    flex-direction: column;
   
    gap: 29px;
    
}
.item2{
    display: flex;
    flex-direction: column;
    
  
    gap: 29px;
}

.item3{
    display: flex;
    flex-direction: column;
   
    gap: 29px;
    
}
.item4{
    display: flex;
    flex-direction: column;
    
  
    gap: 29px;
}
.item5{
    display: flex;
    flex-direction: column;
   
    gap: 29px;
    
}
.item6{
    display: flex;
    flex-direction: column;
    
  
    gap: 29px;
}
.item7{
    display: flex;
    flex-direction: column;
   
    gap: 29px;
    
}
.item8{
    display: flex;
    flex-direction: column;
    
  
    gap: 29px;
}
.item9{
    display: flex;
    flex-direction: column;
   
    gap: 29px;
    
}
.item10{
    display: flex;
    flex-direction: column;
    
  
    gap: 29px;
}
.item11{
    display: flex;
    flex-direction: column;
   
    gap: 29px;
    
}
.item12{
    display: flex;
    flex-direction: column;
    
  
    gap: 29px;
}
/* page 4 starts here */
#page4{

    width: 100%;
    height: 70vh;
 

   display: flex;
   justify-content: center;
   align-items: center;
    border: 1 px solid black;
}

.image6{
    width: 70%;
    height: 600px;
  background-color: blanchedalmond;
      background-image: url(peoplel.jpg);
   background-position: center;
   background-repeat: no-repeat;
   
    background-size: cover;
    display: flex;
}

.part1{
   
    width: 55%;
    height: 600px;
    border: 3px solid black;
}
.part2{
   
    width: 45%;
    height: 600px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center; 
    flex-direction: column;
    gap: 40px;
 
}

.topic{
    font-size: 40px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
     color: #e6e4d8;
     margin-top: 40px;
     letter-spacing: 1px;
}
 .topic22{ 
    font-size: 20px;
    font-weight: 600;
    
    letter-spacing: 3px;
    color: #e6e4d8;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
    
     
} 
.lines{
    width: 52px;
    border:  1px solid white;
margin-right: 300px;
}
.topic44{
text-transform: capitalize;
font-size: 20px;
font-family:'Times New Roman', Times, serif;
color: #e6e4d8;
letter-spacing: 1px;
}
.button4{
    width: 200px;
    height: 70px;
   background-color: transparent;
   color: #e6e4d8;
   font-size: 25px;
   font-weight: 700;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   border: 2px solid white;
 margin-right: 170px;
 letter-spacing: 2px;
}