.class1{
    letter-spacing:0cqmin;
    font-size: 20px;
    background-color: aquamarine;
    font-weight: 300;
    letter-spacing: 0cm;
    word-spacing: 0cm;
}
p{font-size: large;
    font-weight: 600px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
}